* {
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box; /* Evita problemas de espaciado en elementos inline */
}

body {
    background-color: #696969;
    margin: 0;
    padding: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2E4053;
    border-radius: 8%;
    border: 10px solid #4682B4;
    margin: 20% auto; 
    width: 90%; 
    max-width: 800px; 
    min-height: 300px; 
    padding: 20px; 
}

.ContainerH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.h1 {
    font-size: 4vw; 
    color: aliceblue;
    text-align: center; 
}

.ContainerBotones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonOperacion {
    background-color: #008080;
    color: aliceblue;
    width: 100%; 
    max-width: 200px; 
    height: 50px;
    text-align: center; 
    margin: 10px; 
    cursor: pointer; 

}

.botonOperacion:hover {
    transition: 0.5s;
    background-color: #20B2AA;
}